body {
  font-family: 'Cabin Sketch', sans-serif;
  background-color: #4EA0F8;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

h1 {
  font-size: 4em;
  color: #D3E6FF;
}

img#sitting-jake {
  width: 450px;
  height: 280px;
  position: absolute;
  z-index: -2;
}

img.worm {
  position: absolute;
  width: 97px;
  height: 77px;
}

div#info {
  background-color: #8BBCD0;
  width: 300px;
  text-align: center;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  display: none;
}

div#password-div {
  background-color: #8BBCD0;
  height: 100px;
  width: 250px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 20px auto;
  display: none;
}

input[type='button'] {
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 1.5em;
}

input#password-text {
  font-family: 'Cabin Sketch', sans-serif;
  text-align: center;
  font-size: 2em;
  margin: 5px;
  width: 5em;
  border-radius: 10px;
}

div#menu {
  width: 555px;
  text-align: center;
  margin: 10px auto;
}

span.menu-option {
  position: absolute;
  color: #D3E6FF;
  font-size: 2em;
  z-index: -1;
}

div#preload {
  display: hidden;
}
